<mat-form-field>
  <mat-label>Search </mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Search by Company name,Address,Supplier Type...."
    #input
  />
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <!-- Columns -->

  <ng-container *ngFor="let col of columns" [matColumnDef]="col.header">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.header }}</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!col.actions">
        {{ element[col.columnDef] }}
      </ng-container>

      <!-- Action Buttons -->

      <ng-container *ngIf="col.header === 'Action'">
        <mat-icon
          [ngStyle]="{ color: 'green' }"
          aria-hidden="false"
          aria-label="Example download icon"
          fontIcon="download"
        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Example edit icon"
          fontIcon="edit"
          (click)="editData(element)"
        ></mat-icon>
      </ng-container>
    </td>
  </ng-container>

  <!-- 
  <ng-container matColumnDef="Company Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
    <td mat-cell *matCellDef="let element">{{ element?.company_name }}</td>
  </ng-container>

  <ng-container matColumnDef="Address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
    <td mat-cell *matCellDef="let element">{{ element?.address }}</td>
  </ng-container>

  <ng-container matColumnDef="Supplier Type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier Type</th>
    <td mat-cell *matCellDef="let element">{{ element?.supplier_type }}</td>
  </ng-container>

  <ng-container matColumnDef="Contact Person">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Person</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.contact_person_name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Contact Number">
    <th mat-header-cell *matHeaderCellDef>Contact Number</th>
    <td mat-cell *matCellDef="let element">{{ element?.contact_no }}</td>
  </ng-container>

  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let element">
      {{ element.status == 1 ? "Active" : "Inactive" }}
    </td>
  </ng-container>
 -->
  <!--   <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        [ngStyle]="{ color: 'green' }"
        aria-hidden="false"
        aria-label="Example download icon"
        fontIcon="download"
      ></mat-icon>
      &nbsp;
      <mat-icon
        aria-hidden="false"
        (click)="editData(element)"
        aria-label="Example edit icon"
        fontIcon="edit"
      ></mat-icon>
    </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!--   <tr mat-header-row *matHeaderRowDef="columns.map(col => col.columnDef)"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: columns.map(col => col.columnDef)"
  ></tr> -->
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page of users"
></mat-paginator>
