<div class="schoolTitle">
  <div class="row">
    <div class="col-md-8">
      <h4 class="card-title ng-binding">School Signature</h4>
    </div>
  </div>
</div>

<div class="logoContainer">
  <img
    class="logoImg"
    src="https://www.paatham.in/lms/uploads/schools/logo/school_logo_2.png"
  />
</div>
<div class="inputContainer">
  <h5>School Logo</h5>
  <input
    style="border: 1px solid black; padding: 0.2rem"
    type="file"
    accept="image/gif, image/jpg, image/jpeg, image/png"
  />
</div>
<div class="saveBtn">
  <button>Save</button>
</div>
