.schoolTitle{
    margin: 1rem;
    padding: 1rem;
    color:white;
    background-color: #8c9aeb;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    .logoImg{
        width:100px;
        height: 100px;
    }

}

.inputContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap:1rem;
}

.saveBtn{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
}


.photoList{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;

    table{
    width:100%;

    .listHeader{
        display: flex;
        color : white;
        justify-content: space-between;
        background-color: #3f51b5;
        padding:1rem;
        font-size: medium;

        th{
            margin : auto
        }
    }
}

}
